
    <!--<table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let character of characters">
            <td>{{ character.id }}</td>
            <td>{{ character.name }}</td>
            <td>{{ character.age }}</td>
          </tr>
        </tbody>
    </table>-->
    <!--<ng2-smart-table 
    [settings]="settings" 
    [source]="characters">
</ng2-smart-table>-->
<div class="container">
  <div class="row">
    <div class="search-hero">
      <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Start searching for a blood group or donor">
    </div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Id</th>
        <th>Hero Name</th>
        <th>Blood Group</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let character of characters | filter:searchText">
        <td>{{character.id}}</td>
        <td>{{character.name}}</td>
        <td>{{character.bloodgroup}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <button (clcik) = "addDonor()"> Add Donor </button>
</div>